html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
}

body {
	font-size: 1.2em;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

p, ul {
	margin: 0;
	padding: 0;
}

ul {
    list-style: none;
}

img {
	width: 100%;
}

.lien {
	color: white;
	border-bottom: 1px solid white;
	display: inline-block;
	cursor: pointer;
	z-index: 2;
}

.selected {
    border-bottom: 1px solid white !important;
  }